body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}
.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 100px auto;
}
.intro-wrapper {
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b9b8b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-wrapper .title {
    margin-right: 15px;
}
.title h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.25;
}
.title h4 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
}
.btns-wrapper {
    display: flex;        
}
.btns-wrapper .primary-button {
    margin-right: 20px;      
}
.btns-wrapper .primary-button:last-child {
    margin-right: 0px;      
}
.primary-button,
.primary-button:active,
.primary-button:focus {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    display: inline-block;
    line-height: 1;
    transition: 0.2s ease-in;
    border-radius: 3px;
    border: none;    
    text-decoration: none;
    cursor: pointer;    
}
.primary-button:hover {
    opacity: 0.8;
}
.primary-button__add {
    background-color: rgb(30, 212, 30);
    color: #fff;    
}
.primary-button__delete {
    background-color: rgb(245, 31, 48);
    color: #fff;    
}
.product-list ul {
    display: flex;
    flex-wrap: wrap;       
}
.product-list ul li {
    display: inline-block;
    width: 23%;
    margin-right: 2.6666%;
    padding: 50px 20px 20px;
    margin-bottom: 33px;
    position: relative;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);

}
.product-list ul li:nth-child(4n) {
    margin-right: 0;
}
.delete-checkbox {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.product-id {
    font-size: 14px;
}
.product-name {    
    font-weight: 500;
}
.product-price {
    font-weight: 500;
    color: rgb(245, 31, 48);;
}
.end-section {
    text-align: center;
    border-top: 1px solid #b9b8b8;
    margin-top: 40px;
    padding-top: 15px;
}
.form-element-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-element-wrapper .form-element {
    width: 48%;
}
.form-element {    
    margin-bottom: 20px;
}
.form-element label {
    display: block;
    margin-bottom: 5px;
}
.form-element input {
    width: 100%;
    display: block;
    outline: none;
    padding: 5px 15px;
    height: 42px;
    min-width: 50%;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    border-radius: 3px;

}
.form-element select {
    width: 100%;
    display: block;
    outline: none;
    border: none;
    padding: 5px 15px;
    height: 42px;    
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
}
.type-wrapper {
    padding: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    margin: 40px 0;
    display: none;   
}
.type-wrapper.show {
    display: block;
}
.form-element-error-msg,
.form-element-error-msg-type {
    display: none;
    margin-top: 7px;
    font-size: 14px;
    color: rgb(223, 24, 24);
}
.form-element-error .form-element-error-msg,
.form-element-error-type .form-element-error-msg-type {
    display: block;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #5e96bb;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@media screen and (max-width:1023px) {
    .title h1 {
        font-size: 40px;        
    }
    .title h4 {
        font-size: 28px;        
    }
}
@media screen and (max-width:767px) {
    .product-list ul li {
        width: 100%;
        margin-right: 0;    
    }
    .title h1 {
        font-size: 27px;        
    }
    .title h4 {
        font-size: 21px;        
    }
    .primary-button {
        font-size: 14px;
        padding: 10px;
    }
    .btns-wrapper .primary-button {
        margin-right: 10px;      
    }
    .end-section {        
        margin-top: 0px;        
    }
    .form-element-wrapper .form-element {
        width: 100%;
    }    
}
@media screen and (max-width:360px) {
    .title h1 {
        font-size: 24px;        
    }    
}